.post-type-shop_order .wp-list-table .column-order_number {
    width: 12ch;
}
.post-type-shop_order .wp-list-table .column-order_date,
.post-type-shop_order .wp-list-table .column-order_status {
    width: 8ch;
}
.post-type-shop_order .wp-list-table .column-social_details {
    width: 15ch;
}