/**
 * Adjust column widths.
 */
.post-type-shop_order .wp-list-table #order_number.column-order_number {
    width: 15ch;
}
.post-type-shop_order .wp-list-table #order_status.column-order_status {
    width: 16ch;
}
.post-type-shop_order .wp-list-table #order_date.column-order_date,
.post-type-shop_order .wp-list-table #social_details.column-social_details {
    width: 17ch;
}

/**
 * Style last Custom wp_actions.
 */
.column-wc_actions a.order-preview.extended-preview-order {
    border: 1px solid #7e8993;
    border-radius: 3px;
    margin: 2px 0 2px 4px;
    line-height: 2.15384615;
    min-height: 4px;
}
.column-wc_actions a.order-preview.extended-preview-order:hover,
.column-wc_actions a.order-preview.extended-preview-order:focus {
    border-width: 1px;
}
.column-wc_actions a.order-preview.extended-preview-order:before{
    margin-top: 2px;
}
.column-order_number a.order-preview {
    display: none;
}

/**
 * Highlight order status badgees.
 */
 .order-status.certificate-delivered,
 .order-status.under-process {
    margin-left: 10px;
 }
.order-status.certificate-delivered,
.order_status .order-status.status-completed {
    background: #d4edda;
    color: #155724;
}
.order_status .order-status.status-processing,
.order-status.under-process {
    background: #cce5ff;
    color: #004085;
}
.order-status.status-refunded {
    background-color: #fff3cd;
    color: #856404;
}

/**
 * Highlight Assignee name.
 */
.assign_pay_status .order-assignee-name,
.column-order_date .order_is_for_name {
    font-weight: 600;
    color: blue;
    text-transform: capitalize;
}

/**
 * Filter reset button
 */
.post-type-shop_order table.wp-list-table tbody td,
.post-type-shop_order table.wp-list-table tbody th {
    padding: 1.5em;
}
a.reset_filtering.button {
    min-height: 32px
}

/**
 * CSS to override checkout manager plugin's z-index: 99999;.
 */
.order_data_column_container .order_data_column .select2-container {
    z-index: 999;
}